<!DOCTYPE html>
<header>
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 ">
       <%= link_to image_tag("note.png",width:"120px",height:"45px"), root_path%> 
      </div>
      </header>
<h2>

</h2>
  <%= form_with model: @article, html: {multipart: true}, local: true do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="center" style="padding-left: 30%;">
<label class="upload-img-btn">
   <%= f.file_field :image, id:"inputFile"%>
   
</label>
<div class="field form-group">
          <%= f.text_area :title, placeholder:"記事タイトル",id:"inputFile",class:"form-control4" ,type:"text", id:"article_title",rows:"4", cols:"30",style:"border: 0px none; font-size: 40px;" %>
      </div>
      <p>
        <div class="field form-group1">
            <%= f.text_area :body, id:"inputFile",placeholder:"ご自由にお書きください。",class:"form-control2" ,type:"text", id:"article_title",rows:"5", cols:"30",style:"border: 0px none; font-size: 18px;" %>
        </div>
        <div class="field form-group1">

  <label>
 

  
  
<div id="tags">
<%= f.fields_for :tags do |f| %>
  <%#= render "tag_fields", f: f %>
<% end %>
<p>
  <%= link_to_add_association "追加ボタン", f, :tags,class:"btn btn-sm btn-outline-secondary4",data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'after'}%>
</div>

<div id="article_bodies">
<%= f.fields_for :article_bodies do |f| %>
  <%#= render "article_bodies_fields", f: f %>
<% end %>
<p>
  <%= link_to_add_association "追加ボタン", f, :tags,class:"btn btn-sm btn-outline-secondary4",data: {association_insertion_node: '#detail-association-insertion-point',association_insertion_method: 'after'}%>
</div>

</div>
        </div>
           <div class="field"> 
        <a class="col-4 d-flex justify-content-end align-items-center">
        <%=link_to 'キャンセル', root_path, class:"btn btn-sm btn-outline-secondary4" %>
         <%= f.submit "投稿",class:"btn btn-sm btn-outline-secondary4"%>
    </a>
  
     </div>
<% end %>