<p id="notice"><%#= notice %></p>

<p>
 <%= render "devise/shared/header" %>
<div class="card-text" style="padding-left: 30%;">
<% if @article.image.attached? %>
<<<<<<< Updated upstream
<%= image_tag @article.image,width:"40%",height:"20%" %>
=======
<%= image_tag @article.image,width:"60%",height:"35%" %>
>>>>>>> Stashed changes
<% else %>
<%= image_tag("画像.png",class:"m-largeNoteWrapper__image",width:"60%",height:"100%") %>
<% end %>
<br><div class="cardtitle" style="text-decoration: none; font-weight: 800; font-size: 20px; color: black; ">
<%=  @article.title %></div>
<br>
<div class="cardtext" style="text-decoration: none;" >
<%=  @article.body %></div>
<br>
<div class="album py-5 bg-light" style="width: 240px;height: 64px;padding-left: 16px;">
<%= link_to '戻る', root_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
<% if user_signed_in? && current_user.id == @article.user.id %>
<%= link_to '編集', edit_article_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
<%= link_to '削除', article_path, method: :delete, class:'btn btn-sm btn-outline-secondary' %>
<% end %>
</div>
