<p id="notice">
  <%#= notice %>
</p>
<p>
  <%= render "devise/shared/header" %>
    <div class="card-text" style="padding-left: 30%;">
      <% if @article.image.attached? %>
        <%= image_tag @article.image,width:"53%",height:"28%" %>
          <% else %>
            <%= image_tag("画像.png",class:"m-largeNoteWrapper__image",width:"60%",height:"100%") %>
              <% end %> <br>
                <div class="cardtitle" style="text-decoration: none; font-weight: 800; font-size: 20px; color: black; ">
                  <%=  markdown(@article.title).html_safe %>
                </div> <br>
                <div class="cardtext">
                  <%if @article.buyer_id != nil%>
                    <%if @article.buyer_id=@article.user_id%>
                      <%= markdown(@article_bodies.body).html_safe %>
                        <%else%>
                          <%= markdown(@article_bodies.body.truncate(10)).html_safe %>
                          <%= form_tag action: :pay, method: :post do %>
                  <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_052208a2aa46118d4ac742f6"></script>
                  <%end%>
                            <%end%>
                              <%else%>
                                <%= markdown(@article_bodies.body.truncate(10)).html_safe %>
                                 <%= form_tag action: :pay, method: :post do %>
                  <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_052208a2aa46118d4ac742f6"></script>
                  <%end%>
                                  <%end%>
                </div> <br>
                <div class="album py-5 bg-light" style="width: 240px;height: 64px;padding-left: 16px;">
                  <%= link_to '戻る', root_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
                    <% if user_signed_in? && current_user.id == @article.user.id %>
                      <%= link_to '編集', edit_article_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
                        <%= link_to '削除', article_path, method: :delete, class:'btn btn-sm btn-outline-secondary' %>
                          <% end %>
                </div>
                
    </div> 