<%= render "devise/shared/header" %>
<div class="center" style="padding-left: 25%; width: 60%; ">
<% @tweet.each do |tweet| %>
<div class="cards" style="width: 35%; ">
<div class="cardimage">
<% if tweet.image.attached? %>
<%= link_to image_tag(tweet.image,class:"m-largeNoteWrapper__image",width:"100%",height:"100%"),tweet_path(tweet.id) %>
<% else %>
<%= link_to image_tag("画像.png",class:"m-largeNoteWrapper__image",width:"100%",height:"100%"),tweet_path(tweet.id) %>
<% end %>
</div>
<p> 
<div class="cardtext">
<%= link_to tweet.title,tweet_path(tweet.id),style:"text-decoration: none; font-weight: 800; font-size: 20px; color: black; " %>
</div>
<p> 
<div class="cardtext">
<%= link_to tweet.text,tweet_path(tweet.id),style:"text-decoration: none; " %>
</div>
</p>
</div>
<% end %>
</div>