<!DOCTYPE html>
<header>
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 ">
       <%= link_to image_tag("note.png",width:"120px",height:"45px"), root_path%> 
      </div>
      </header>
<%= form_with model: @tweet, local: true do |f| %>
<div class="center" style="padding-left: 30%;">
<label class="upload-img-btn">
   <%= f.file_field :image, id:"inputFile",style:"background-image:url(画像アイコン.png);"%>
</label>
<div class="field form-group">
          <%= f.text_area :title, placeholder:"記事タイトル",id:"inputFile",class:"form-control4" ,type:"text", id:"article_title",rows:"4", cols:"30",style:"border: 0px none; font-size: 40px;" %>
      </div>
      <p>
        <div class="field form-group1">
            <%= f.text_area :text, id:"inputFile",placeholder:"ご自由にお書きください。",class:"form-control2" ,type:"text", id:"article_title",rows:"5", cols:"30",style:"border: 0px none; font-size: 18px;" %>
        </div>
           <div class="field"> 
        <a class="col-4 d-flex justify-content-end align-items-center">
        <%=link_to 'キャンセル', root_path, class:"btn btn-sm btn-outline-secondary4" %>
         <%= f.submit "投稿",class:"btn btn-sm btn-outline-secondary4"%>
    </a>
    </div>
     </div>
<% end %>