<div class="card-text">
<% if @tweet.image.attached? %>
<%= image_tag @word.image,width:"300px",height:"300px" %>
<% end %>
<%=  @tweet.title %>
<%=  @tweet.text %>
<div class="album py-5 bg-light" style="width: 240px;height: 64px;padding-left: 16px;">
<%= link_to '戻る', root_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
<% if user_signed_in? && current_user.id == @tweet.user.id %>
<%= link_to '編集', edit_tweet_path, method: :get, class: "btn btn-sm btn-outline-secondary" %>
<%= link_to '削除', tweet_path, method: :delete, class:'btn btn-sm btn-outline-secondary' %>
<% end %>
</div>