<%= render "devise/shared/login" %>
<div class="back">
<div class="square2">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="signup__form">
<div class="fontcenter">ログイン</div><p>
  <div class="field">
   
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"メールアドレス",class:"form",type:"text" %>
  </div>

  <div class="field">
    
    <%= f.password_field :password, autocomplete: "new-password",placeholder:"パスワード",class:"form",type:"password" %>
  </div>
<p>
<div class="alert">
<%= alert %>
</div>
<p>
  <div class="actions">
    <%= f.submit "ログイン" ,class:"btn-outline-secondary3"%>
  </div>
  <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>
</div>